.commen-icon-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
	right: 100px;
    top: -28px
}

.main-icons-container:hover .commen-icon-container {
	opacity: 1;
	visibility: visible;
  }
.main-div{
	min-height: 6rem;
    width: 250px
}
.display-bg{
	background-color:#dbeafe
}
.display-text{
	font-size: 11px;
}
.common-icon{
	width: 1em;
	height: 1em
}
.pre-img{
	object-fit: cover;
	max-height: 12rem;
	display: block;
	width: 100%;
}
#new-vue-id{
	height: 100vh;
}