.whatsapp-color {
  color: #10f43e;
}

.numbertext {
  color: #ffffff;
  text-align: center;
  position: absolute;
  margin: 0px 70px 0px 70px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
}

.circle_default {
  background-color: #6c757d;
}

.circle_success {
  background-color: #198754;
}

.circle_warning {
  background-color: #ffc107;
}

.circle_info {
  background-color: #00a8ff;
}

.card-body-wp {
  padding: 20px;
}

.widget-details {
  top: 14px;
}
.wb_button {
  margin-top: 0px !important;
}

.wb_panel {
  --tw-bg-opacity: 1;
  border-radius: 0.375rem;
  position: relative;
  background-color: #ffffff;
}

.wb_image {
  border-radius: 0.25rem;
  width: 100%;
}
