services:
  frontend:
    environment:
      - VIRTUAL_HOST=${DOMAIN}
      - VIRTUAL_PORT=5000
      - LETSENCRYPT_HOST=${DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    networks:
      - proxy-nw

  backend:
    environment:
      - VIRTUAL_HOST=${DOMAIN}
      - VIRTUAL_PORT=4000
    networks:
      - proxy-nw

networks:
  proxy-nw:
    external: true
    name: ${PROXY_NETWORK}
